html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #dad9d6;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header__nav__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: black;
  flex-wrap: wrap;
  background-color: white;
}
.header__nav__logo img {
  width: 10%;
  margin: 10px;
}

.header__nav__logo a {
  text-decoration: none;
  color: black;
  font-size: 40px;
}
.link__title {
  cursor: pointer;
  font-size: 80px;
  position: relative;
  white-space: nowrap;
  color: var(--color-text);
}
.link__title::before,
.link__title::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background: currentColor;
  top: 90%;
  left: 0;
  pointer-events: none;
}

.link__title::before {
  content: "";
}
.link--thebe {
  font-family: cursive;
  text-transform: uppercase;
}

.link--thebe::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link--thebe:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 2, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}

.link--thebe::after {
  content: "";
  top: calc(100% + 10px);
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.4s 0.1s cubic-bezier(0.2, 1, 0.8, 1);
}

.link--thebe:hover::after {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}

.header__nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #adadab;
}

.header__nav__button_style {
  border-radius: 4px;
  border: none;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  background-color: #adadab;
}

.link {
  cursor: pointer;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
  color: var(--color-text);
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 3px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: "";
  /* show by default */
}

.link--metis::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.link--metis:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.main__title {
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
.main__title h1 {
  font-size: 35px;
}
.main__title p {
  font-size: 25px;
}
.main__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.about__title {
  display: flex;
  flex-direction: column;
}
.about__title h1 {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  font-size: 43px;
}
.about__title p {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  font-size: 26px;
}
.about__video {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about__video__title {
  width: 50%;
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 22px;
  font-weight: lighter;
}
.about__video__title p {
  font-style: oblique;
}

.about__video--full {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
}

.exclusive__photo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 70%;
  margin-top: 5%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.exclusive__photo__first__row__article__btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.exclusive__photo__first__row__article__btn__full {
  border-radius: 4px;
  background-color: rgb(253, 199, 0);
  border: none;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 170px;
  cursor: pointer;
  margin-top: 5%;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgContainer p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10%;
}

.btnDetailsBirra {
  border: none;
  background: #3a7999;
  color: #f2f2f2;
  padding: 20px;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  margin-bottom: 10%;
  cursor: pointer;
}

.btnDetailsBirra:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}
.BeerDetail {
  font-size: 24px;
  font-style: italic;
}

.detail__btn {
  margin-top: 2%;
  border: none;
  background: #3a7999;
  color: #f2f2f2;
  padding: 20px;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  margin-bottom: 1%;
  cursor: pointer;
}

.detail__btn:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.add_intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add_intro h1 {
  font-size: 30px;
}
.add_intro p {
  font-size: 20px;
}

.formulary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 2%;
  margin-top: 2%;
}
.formulary__input {
  width: 50%;
}

.check {
  font-size: 15px;
}

.formulary__btn__full {
  margin-top: 2%;
  border: none;
  background: #3a7999;
  color: #f2f2f2;
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  margin-bottom: 1%;
  cursor: pointer;
}

.formulary__btn__full:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.mypeoplelist {
  margin-bottom: 5%;
}
.tableAdd {
  border-color: black;
  width: 80%;
  margin-left: 10%;
  background-color: #adadab;
}

.tableAdd th,
td {
  width: 25%;
  margin: 5px;
  text-align: center;
  vertical-align: center;
}

.footer {
  display: flex;
  justify-content: space-around;
  background: black;
  height: 250px;
  flex-wrap: wrap;
}

.footer__section {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.footer__section__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  flex-wrap: wrap;
}

.footer__section__items p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-decoration: none;
  color: white;
}

.footer__section__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8%;
  color: white;
}

.footer__section__ul li {
  list-style: none;
  margin-bottom: 9px;
}
.footer__section__ul a {
  text-decoration: none;
  color: white;
}

.footer__icons {
  display: flex;
  margin-bottom: 8%;
  align-items: center;
}

.footer__icons img {
  margin-right: 10px;
  margin-left: 5px;
}

.footericons__img {
  margin: 10px;
  width: 100%;
}
