:root {
  --transition-duration: 0.3s;
  --transition-delay: 0.2s;
}

a {
  color: inherit;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: center;
  margin-right: 70px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.menu a {
  position: relative;
  display: block;
  padding: 10px;
}

.menu .border {
  position: absolute;
  left: 0;
  background: black;
  transition: transform var(--transition-duration) ease-in-out;
}

.menu .border-top,
.menu .border-bottom {
  width: 100%;
  height: 3px;
  transform: scaleX(0);
}

.menu .border-left,
.menu .border-right {
  width: 3px;
  height: 100%;
  transform: scaleY(0);
}

.menu .border-top,
.menu .border-left,
.menu .border-right {
  top: 0;
}

.menu .border-bottom {
  bottom: 0;
  transform-origin: bottom right;
}

.menu .border-top {
  transform-origin: top left;
}

.menu .border-left {
  transform-origin: bottom left;
}

.menu .border-right {
  left: auto;
  right: 0;
  transform-origin: top right;
}

.menu a:hover .border-top,
.menu a:hover .border-bottom {
  transform: scaleX(1);
}

.menu a:hover .border-left,
.menu a:hover .border-right {
  transform: scaleY(1);
}

.menu a:hover .border-right {
  transition-delay: var(--transition-delay);
}

.menu a:hover .border-bottom {
  transition-delay: calc(var(--transition-delay) * 2);
}

.menu a:hover .border-left {
  transition-delay: calc(var(--transition-delay) * 3);
}

.main__zoom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.zoom {
  width: 600px;
  height: 500px;
  transition: transform 0.2s;
  border: 1px solid black;
  padding: 10px;
}

.zoom:hover {
  transform: scale(1.3);
}

.about__me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__me__title {
  font-size: 24px;
}
/* .about__btn {
  margin-bottom: 1%;
  font-size: 19px;
  cursor: pointer;
} */

.about__btn {
  border: none;
  background: #3a7999;
  color: #f2f2f2;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  margin-bottom: 1%;
  cursor: pointer;
}
.about__btn:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.about__information {
  display: none;
  margin-bottom: 30px;
  background-color: #dad9d6;
  width: 98%;
}

.active {
  display: block;
  background-color: #dad9d6;
  padding: 10px;
  border: black 1px solid;
}
.about__me__list {
  list-style: none;
}
.bold {
  font-weight: bold;
}
